body {
  background-image: url("https://ocdn.eu/images/pulscms/MGE7MDA_/22ef1d89-d720-4e34-827c-1ff054dba74a.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: cursive;
  color: white;
}

.zegar-container {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#zegar {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

.container {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

form {
  display: flex;
  gap: 5px;
}

input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

button {
  padding: 5px 10px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: rgba(0, 0, 0, 0.5);
  margin: 5px 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.edit,
.delete {
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.edit {
  background-color: yellow;
}

.edit:hover {
  background-color: yellow;
}

.delete {
  background-color: red;
  color: white;
}

.delete:hover {
  background-color: red;
}
